input[type='text'], 
input[type='number'],
input[type='date'] {
    padding: 8px 12px;
    border-radius: 8px;   
    border-color: var(--green);
}

input[type='date']:focus-visible,
input[type='number']:focus-visible,
input[type='text']:focus-visible {
    outline: 0;
}

input[type="radio"] {
    margin-top: 10px;
    margin-left: 50%;
    position: relative;
    transform: translateX(-50%);
}

input[type="radio"]:before {
    top: -50%;
    left: -10px;
    width: 32px;
    content: '';
    height: 32px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid var(--green);
    background-color: var(--white);
}

input[type="radio"]:checked:after {
    top: 0;
    left: calc(6px - 10px);
    width: 24px;
    content: '';
    height: 24px;
    position: absolute;
    border-radius: 50%;
    background-color: var(--green);
}

input[type='submit']:hover {
    box-shadow: 3px 6px 20px rgba(0,0,0,0.1);
}

input:disabled {
    background-color: var(--grey--light);
}

label {
    display: block;
    text-align: center;
}

.input_label {
    left: 8px;
    top: -10px;
    padding: 2px 4px;
    position: absolute;
    background-color: var(--white);
}

select {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid var(--green);
}
